--flash NOR
--mtdparts "192k(u-boot),64k(u-boot-env),64k(factory),-(firmware)"
--model "HiLink_HLK-7621A"
--kernel-offset 0x50000
--reset-pin -1
--sysled-pin -1
--cpufreq 880
--ramfreq 1200
--ddrparam DDR3-256MiB
--baudrate 57600
--yes
