--flash NOR
--mtdparts "192k(u-boot),64k(u-boot-env),64k(factory),-(firmware)"
--model "JDCloud_RE-SP-01B"
--kernel-offset 0x50000
--reset-pin 18
--sysled-pin 6
--cpufreq 880
--ramfreq 1200
--ddrparam DDR3-512MiB
--baudrate 115200
--yes
