--flash NOR
--mtdparts "192k(u-boot),64k(u-boot-env),64k(factory),-(firmware)"
--model "MTC_Wireless_Router_WR1201"
--kernel-offset 0x50000
--reset-pin 25
--sysled-pin 24
--cpufreq 880
--ramfreq 1200
--ddrparam DDR3-128MiB
--baudrate 115200
--yes
