--flash NAND
--mtdparts "512k(u-boot),512k(u-boot-env),256k(factory),-(firmware)"
--model "NETIS_WF2881"
--kernel-offset 0x140000
--reset-pin 12
--sysled-pin 6
--cpufreq 880
--ramfreq 1200
--ddrparam DDR3-128MiB
--baudrate 115200
--yes
