--flash NOR
--mtdparts "192k(u-boot),64k(u-boot-env),64k(factory),-(firmware)"
--model "Planex_VR500"
--kernel-offset 0x50000
--reset-pin 47
--sysled-pin 45
--cpufreq 880
--ramfreq 1200
--ddrparam DDR3-256MiB
--baudrate 115200
--yes
