--flash NAND
--mtdparts "256k(u-boot),256k(u-boot-env),256k(factory),256k(factory),256k(crash),512k(crash_syslog),256k(reserved0),4m(kernel_stock),-(firmware)"
--model "Xiaomi_Mi_Router_3_Pro"
--kernel-offset 0x600000
--reset-pin 18
--sysled-pin 6
--cpufreq 880
--ramfreq 1200
--ddrparam DDR3-512MiB
--baudrate 115200
--yes
